.custom-slider-content {
  .flex-viewport .slides img,
  .flex-direction-nav {
    display: none;
  }

  .vc_tta-tab a {
    padding: 0 !important;
    background-color: transparent !important;
  }
}
